{% extends 'main_page/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
    <h1>Calculations</h1>
    <form method="post">
        {% csrf_token %}
        <table>
            {{ form }}
        </table>
        <br>
        <button type="submit" class="btn btn-success">Result</button>
        <button type="submit" class="btn btn-success">Add new wall</button>
        <br>
        <div class="alert alert-warning mt-2">
            <h3>Result square of wall: {{square}}  sq.m.</h3>
        </div>
        <br>
        <div class="alert alert-warning mt-2">
            <h3>Result price: {{result_price}} $</h3>
        </div>

    </form>
{% endblock %}
