{% extends 'main_page/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
    <h1>Producers List</h1>
    {% if posts %}
        {% for el in posts %}
            <div class="alert alert-warning mt-2">
                <h3>Name: {{ el.name }}</h3>
                <p>Country: {{ el.country }}</p>
                <p>Address: {{ el.address }}</p>
                <p>Phone: {{ el.phone }}</p>
                <p>Foundation year: {{ el.foundation_year }}</p>
            </div>
        {% endfor %}
    {% else %}
        <p>No producers found!</p>
    {% endif %}
{% endblock %}
